/*theme settings*/
.grad {
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); 
  background: #eeeeee; 
}

.menu a { color: #000;font-family: 'Quantico', sans-serif;font-weight: 700; }
.menu a:hover {background-color: #006363; color: #fff;}
.flexMenu-viewMore > a {background-color: #FF9640;}
.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {background-color: #FF7400;}
.flexMenu-popup a:hover {background-color: #006363;color: #fff;}
.flexMenu-popup { background-color: #5CCCCC; }
.menu-sub {background-color: #ccc;}

/*!!!new!!!*/
.flexMenu-subitem > a {background:url(right.gif) no-repeat 5px 5px;  }
.flexMenu-subitem-open > a {background:url(down.gif) no-repeat 5px 5px;  }
/*end theme settings*/


.menu {list-style-type: none;margin: 0;padding: 0;}
.js .menu { height: 1.5em;overflow: hidden;}
.menu > li { margin: 0 0 0 1.5em; float: left;}
.menu > li:first-child {margin-left: 0;}
.menu a { text-decoration: none; display: block;padding: .25em .25em .25em .25em;}
.flex-multi {float: left;}
.flex-multi + .flex-multi {float: right;}
.clear {clear: both;}
.flexMenu-popup {list-style-type: none;padding: 0;margin: 0;}
.lt-ie8 .flexMenu-popup {}
.flexMenu-popup a {display: block;}
.flexMenu-popup a:hover {display: block;}
.menu-sub {display: none;position: absolute;list-style-type: none;padding-left: 0;}
li:hover > .menu-sub {display: block;}
/*!!!new!!!*/
.flexMenu-subitem a, .flexMenu-subitem-open a {padding-left:20px; display:inline-block;}
